{% extends 'admin/front/base.html' %}
{% load static %}
{% block title %}{{title}} - {{settings.name}}{% endblock title %}
{% block content %}
<style>
.currentImg{
  width: 100px !important;
  margin-bottom: 10px;
}
</style>

        <div class="page-body  dark-only">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3> Edit Blog Page</h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Blog Page</li>
                    <li class="breadcrumb-item active">Edit</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            {% include "admin/components/lang.html" %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong>
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}  
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}  
            <div class="row project-cards">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">  

                    <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <div class="justify-content-start">
                                    <strong>Blog Page:&nbsp;</strong><a target="_blank" href="{% if request.is_secure %}https://{{ request.get_host }}/blogs/{% else %}http://{{ request.get_host }}/blogs/{% endif %}">{% if request.is_secure %}https://{{ request.get_host }}/blogs/{% else %}http://{{ request.get_host }}/blogs/{% endif %}</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">Blogs</h5>
                                  <div class="d-flex justify-content-start">
                                    <a href="{% url 'adminBlogHome' %}" class="btn btn-primary" style='margin-right:5px;'>View</a>
                                    <a href="{% url 'adminBlogCreate' %}" class="btn btn-primary">Create</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">SEO</h5>
                                  <div class="row">
                                      <div class="col-12">
                                          <form method="post">
                                              {% csrf_token %}
                                              <div class="row">
                                                  <div class="col-md-6 col-sm-12">
                                                      <label for="{{ form.meta_title.id_for_label }}">Meta Title <span class="text-danger">*</span></label>
                                                      {{ form.meta_title }}
                                                  </div>
                                                  <div class="col-md-6 col-sm-12">
                                                      <label for="{{ form.meta_description.id_for_label }}">Meta Description <span class="text-danger">*</span></label>
                                                      {{ form.meta_description }}
                                                  </div>
                                              </div>
                                              <!-- Ensure proper indentation for the closing </form> tag -->
                                              <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                    
                    
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
          
      </div>

        
        

{% endblock content %}