{% extends 'admin/front/base.html' %}
{% load static %}
{% block title %}{{title}} - {{settings.name}}{% endblock title %}
{% block content %}
<style>
.currentImg{
  width: 100px !important;
  margin-bottom: 10px;
}
</style>

        <div class="page-body  dark-only">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3> Edit Homepage</h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Edit</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            {% include "admin/components/lang.html" %}
            {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong>
                        <ul>
                            {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %} 
                {% if SeoForm.errors %}
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    <ul>
                        {% for field, errors in SeoForm.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}  
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}  
            <div class="row project-cards">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">  

                    <div class="row mb-2">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <div class="justify-content-start">
                                    <strong>Home Page:&nbsp;</strong><a target="_blank" href="{% if request.is_secure %}https://{{ request.get_host }}{% else %}http://{{ request.get_host }}{% endif %}">{% if request.is_secure %}https://{{ request.get_host }}{% else %}http://{{ request.get_host }}{% endif %}</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">Banner</h5>
                                
                                  <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    <div class="row mb-3">
                                      <div class="col-md-12">
                                        <label for="{{ form.background_image.id_for_label }}" class="form-label">Background Image</label>
                                        {% if banner.background_image %}
                                        <br>
                                        <img src="{{ banner.background_image.url }}" width="150" style="border-radius:8px;" alt="" srcset="">
                                        <br>
                                        {% endif %}
                                        {{ form.background_image }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-12">
                                        <label for="{{ form.title.id_for_label }}" class="form-label">Title<span class="text-danger">*</span></label>
                                        {{ form.title }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-12">
                                        <label for="{{ form.description.id_for_label }}" class="form-label">Description<span class="text-danger">*</span></label>
                                        {{ form.description }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ form.button_text.id_for_label }}" class="form-label">Button Text<span class="text-danger">*</span></label>
                                        {{ form.button_text }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ form.button_url.id_for_label }}" class="form-label">Button Url<span class="text-danger">*</span></label>
                                        {{ form.button_url }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-12">
                                        <label for="{{ form.quote_form_title.id_for_label }}" class="form-label">Quote Form Title</label>
                                        {{ form.quote_form_title }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ form.quote_form_field1_title.id_for_label }}" class="form-label">Quote Form Field 1 Title</label>
                                        {{ form.quote_form_field1_title }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ form.quote_form_field1_placeholder.id_for_label }}" class="form-label">Quote Form Field 1 Placeholder</label>
                                        {{ form.quote_form_field1_placeholder }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ form.quote_form_field2_title.id_for_label }}" class="form-label">Quote Form Field 2 Title</label>
                                        {{ form.quote_form_field2_title }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ form.quote_form_field2_placeholder.id_for_label }}" class="form-label">Quote Form Field 2 Placeholder</label>
                                        {{ form.quote_form_field2_placeholder }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ form.quote_form_field3_title.id_for_label }}" class="form-label">Quote Form Field 3 Title</label>
                                        {{ form.quote_form_field3_title }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ form.quote_form_field3_placeholder.id_for_label }}" class="form-label">Quote Form Field 3 Placeholder</label>
                                        {{ form.quote_form_field3_placeholder }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-12">
                                        <label for="{{ form.quote_form_button_text.id_for_label }}" class="form-label">Quote Form Button Title</label>
                                        {{ form.quote_form_button_text }}
                                      </div>
                                    </div>

                                    <div class="row mb-3">
                                      <div class="col-md-3">
                                        <div class="d-flex mb-3 mt-3">
                                        <label class="col-form-label m-r-10" style="font-family: monospace;"><b>Show Quote Form</b></label>
                                        <div class="flex-grow-1 text-end icon-state">
                                          <label  class="switch detail-text" for="{{ form.show_quote_form.id_for_label }}">
                                            {{form.show_quote_form}}<span class="switch-state"></span>
                                          </label>
                                        </div>
                                      </div>
                                      </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Save</button>

                                  </form>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">Services</h5>
                                  <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_section_title">
                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ service_section_title_form.title_small.id_for_label }}" class="form-label">Section Title 1</label>
                                        {{ service_section_title_form.title_small }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ service_section_title_form.title_big.id_for_label }}" class="form-label">Section Title 2</label>
                                        {{ service_section_title_form.title_big }}
                                      </div>
                                    </div>
                                    <div class="row mb-3">
                                      <div class="col-md-12">
                                        <label for="{{ service_section_title_form.all_work_text.id_for_label }}" class="form-label">Card Bottom Text ( This text will be show in service card bottom )</label>
                                        {{ service_section_title_form.service_card_more_text }}
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                  </form>
                                  <div class="d-flex justify-content-start">
                                    <a href="{% url 'services' %}" class="btn btn-primary" style='margin-right:5px;'>View</a>
                                    <a href="{% url 'createService' %}" class="btn btn-primary">Create</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">Projects</h5>
                                  <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="project_section_title">
                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ project_section_title_form.title_small.id_for_label }}" class="form-label">Section Title 1</label>
                                        {{ project_section_title_form.title_small }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ project_section_title_form.title_big.id_for_label }}" class="form-label">Section Title 2</label>
                                        {{ project_section_title_form.title_big }}
                                      </div>
                                    </div>
                                    <div class="row mb-3">
                                      <div class="col-md-12">
                                        <label for="{{ project_section_title_form.all_work_text.id_for_label }}" class="form-label">All Work Text ( This text will be shown at the first of the project category filter )</label>
                                        {{ project_section_title_form.all_work_text }}
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                  </form>
                                  <div class="d-flex justify-content-start">
                                    <a href="{% url 'projects' %}" class="btn btn-primary" style='margin-right:5px;'>View</a>
                                    <a href="{% url 'createProject' %}" class="btn btn-primary">Create</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-3">Fun facts</h5>
                                    <form method="post">
                                      {% csrf_token %}
                                      <input type="hidden" name="funfact_section_title">
                                      <div class="row mb-3">
                                        <div class="col-md-6">
                                          <label for="{{ funfact_section_title_form.title_small.id_for_label }}" class="form-label">Section Title 1</label>
                                          {{ funfact_section_title_form.title_small }}
                                        </div>
                                        <div class="col-md-6">
                                          <label for="{{ funfact_section_title_form.title_big.id_for_label }}" class="form-label">Section Title 2</label>
                                          {{ funfact_section_title_form.title_big }}
                                        </div>
                                      </div>
                                      <button type="submit" class="btn btn-primary mb-3">Save</button>
                                    </form>
                                    <div class="d-flex justify-content-start">
                                      <a href="{% url 'funfacts' %}" class="btn btn-primary" style='margin-right:5px;'>View</a>
                                      <a href="{% url 'createFunfact' %}" class="btn btn-primary">Create</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">Testimonials</h5>
                                  <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="testimonial_section_title">
                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ testimonial_section_title_form.title_small.id_for_label }}" class="form-label">Section Title 1</label>
                                        {{ testimonial_section_title_form.title_small }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ testimonial_section_title_form.title_big.id_for_label }}" class="form-label">Section Title 2</label>
                                        {{ testimonial_section_title_form.title_big }}
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                  </form>
                                  <div class="d-flex justify-content-start">
                                    <a href="{% url 'testimonials' %}" class="btn btn-primary" style='margin-right:5px;'>View</a>
                                    <a href="{% url 'createTestimonial' %}" class="btn btn-primary">Create</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">Clients</h5>
                                  <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="client_section_title">
                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ client_section_title_form.title_small.id_for_label }}" class="form-label">Section Title 1</label>
                                        {{ client_section_title_form.title_small }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ client_section_title_form.title_big.id_for_label }}" class="form-label">Section Title 2</label>
                                        {{ client_section_title_form.title_big }}
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                  </form>
                                  <div class="d-flex justify-content-start">
                                    <a href="{% url 'clients' %}" class="btn btn-primary" style='margin-right:5px;'>View</a>
                                    <a href="{% url 'createClient' %}" class="btn btn-primary">Create</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">Blogs</h5>
                                  <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="blog_section_title">
                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                        <label for="{{ blog_section_title_form.title_small.id_for_label }}" class="form-label">Section Title 1</label>
                                        {{ blog_section_title_form.title_small }}
                                      </div>
                                      <div class="col-md-6">
                                        <label for="{{ blog_section_title_form.title_big.id_for_label }}" class="form-label">Section Title 2</label>
                                        {{ blog_section_title_form.title_big }}
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-3">Save</button>
                                  </form>
                                  <div class="d-flex justify-content-start">
                                    <a href="{% url 'adminBlogHome' %}" class="btn btn-primary" style='margin-right:5px;'>View</a>
                                    <a href="{% url 'adminBlogCreate' %}" class="btn btn-primary">Create</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="mb-3">SEO</h5>
                                  <div class="row">
                                      <div class="col-12">
                                          <form method="post">
                                              {% csrf_token %}  
                                              <div class="row">
                                                  <div class="col-md-6 col-sm-12">
                                                      <label for="{{ SeoForm.meta_title.id_for_label }}">Meta Title <span class="text-danger">*</span></label>
                                                      {{ SeoForm.meta_title }}
                                                  </div>
                                                  <div class="col-md-6 col-sm-12">
                                                      <label for="{{ SeoForm.meta_description.id_for_label }}">Meta Description <span class="text-danger">*</span></label>
                                                      {{ SeoForm.meta_description }}
                                                  </div>
                                              </div>
                                              <!-- Ensure proper indentation for the closing </form> tag -->
                                              <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                  

                    
                    
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
          
      </div>

        
        

{% endblock content %}