<!DOCTYPE html>
{% load static %}
{% load bootstrap_tags %}
<html class="no-js" lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if settings.favicon %}
    <link rel="shortcut icon" href="{{settings.favicon.url}}" type="image/x-icon">
    <link rel="icon" href="{{settings.favicon.url}}" type="image/x-icon">
    {% endif %}
    <!-- Site Title -->
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'invoice/assets/css/style.css' %}">
</head>

<body>
    <div class="cs-container">
        <div class="cs-invoice cs-style1">
            <div class="cs-invoice_in" id="download_section">
                <div class="cs-invoice_head cs-type1 cs-mb25">
                    <div class="cs-invoice_left">
                        <p class="cs-invoice_number cs-primary_color cs-mb5 cs-f16"><b class="cs-primary_color">Payslip of:</b> {{ payslip.date|date:"F Y" }}</p>
                        <p class="cs-invoice_date cs-primary_color cs-mb5 cs-f16"><b class="cs-primary_color">Salary Date: </b>{{ payslip.date|date:"d F Y" }}</p>
                        <p class="cs-invoice_date cs-primary_color cs-mb5 cs-f16"><b class="cs-primary_color">Salary Type: </b>{{ payslip.salary.type }}</p>
                        <p class="cs-invoice_date cs-primary_color cs-mb5 cs-f16"><b class="cs-primary_color">Status: </b>{{ payslip.status }}</p>

                    </div>
                    <div class="cs-invoice_right cs-text_right">
                        <div class="cs-logo cs-mb5">
                            {% if settings.invoice_logo %}
                                <img src="{{settings.invoice_logo.url}}" width="{% if settings.invoice_logo_width %}{{settings.invoice_logo_width}}{% else %}100{% endif %}" alt="Logo">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="cs-invoice_head cs-mb10">
                    <div class="cs-invoice_left">
                        <b class="cs-primary_color">Paid To:</b>
                        <p></p>
                            <p><strong>Name:</strong> {{ payslip.payroll.employee.userprofile.name }}</p>
                            <p><strong>Designation:</strong> {{ payslip.payroll.employee.userprofile.designation }}</p>
                            <p><strong>Department:</strong> {{ payslip.payroll.employee.userprofile.department }}</p>
                            <p><strong>Branch:</strong> {{ payslip.payroll.employee.userprofile.branch }}</p>
                    </div>
                    <div class="cs-invoice_right cs-text_right">
                        <b class="cs-primary_color">Paid By:</b>
                        <p>
                            <p>{{ settings.name }}</p>
                            <p>{{ settings.address }}</p>
                            <p>{{ settings.state }}, {{ settings.Zip }} </p>
                            <p>{{ settings.email_address }}</p>
                        </p>
                    </div>
                </div>
                <div class="cs-table cs-style1">
                    <div class="cs-round_border">
                        {% if payslip.allowances or payslip.deductions %}
                        <div class="cs-table_responsive">
                            <table>
                                <tbody>
                                    {% for allowance in payslip.allowances %}
                                    <tr>
                                        <td class="cs-width_1 cs-semi_bold cs-primary_color cs-focus_bg">{{ allowance.title }} ( Allowance )</td>
                                        <td class="cs-width_1 cs-text_right">{{ settings.currency_symbol }}{{ allowance.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% for deduction in payslip.deductions %}
                                    <tr>
                                        <td class="cs-width_1 cs-semi_bold cs-primary_color cs-focus_bg">{{ deduction.title }} ( Deduction )</td>
                                        <td class="cs-width_1 cs-text_right">{{ settings.currency_symbol }}{{ deduction.amount }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>  
                            </table>
                        </div>
                        {% else %}
                        <div class="cs-table_responsive">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="cs-width_1 cs-semi_bold cs-primary_color cs-focus_bg">No Allowance or Deduction</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        <div class="cs-invoice_footer cs-border_top">
                            <div class="cs-left_footer cs-mobile_hide">
                                
                            </div>
                            <div class="cs-right_footer">
                                <table>
                                    <tbody>
                                        <tr class="cs-border_left">
                                            <td class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg">Basic Salary</td>
                                            <td class="cs-width_3 cs-semi_bold cs-focus_bg cs-primary_color cs-text_right">+{{ settings.currency_symbol }}{{ payslip.salary.amount }}</td>
                                        </tr>
                                        <tr class="cs-border_left">
                                            <td class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg">Total Allowance</td>
                                            <td class="cs-width_3 cs-semi_bold cs-focus_bg cs-primary_color cs-text_right">+{{ settings.currency_symbol }}{{ total_allowance }}</td>
                                        </tr>
                                        <tr class="cs-border_left">
                                            <td class="cs-width_3 cs-semi_bold cs-primary_color cs-focus_bg">Total Deduction</td>
                                            <td class="cs-width_3 cs-semi_bold cs-focus_bg cs-primary_color cs-text_right">-{{ settings.currency_symbol }}{{ total_deduction }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="cs-invoice_footer">
                        <div class="cs-left_footer cs-mobile_hide"></div>
                        <div class="cs-right_footer">
                            <table>
                                <tbody>
                                    <tr class="cs-border_none">
                                        <td class="cs-width_3 cs-border_top_0 cs-bold cs-f16 cs-primary_color">Net Salary</td>
                                        <td class="cs-width_3 cs-border_top_0 cs-bold cs-f16 cs-primary_color cs-text_right">{{ settings.currency_symbol }}{{ payslip.net_salary }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% if  invoice.notes %}
                <div class="cs-note">
                    <div class="cs-note_left">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M416 221.25V416a48 48 0 01-48 48H144a48 48 0 01-48-48V96a48 48 0 0148-48h98.75a32 32 0 0122.62 9.37l141.26 141.26a32 32 0 019.37 22.62z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 56v120a32 32 0 0032 32h120M176 288h160M176 368h160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                    </div>
                    <div class="cs-note_right">
                        <p class="cs-mb0"><b class="cs-primary_color cs-bold">Note:</b></p>
                        <p class="cs-m0">{{ invoice.notes }}</p>
                    </div>
                </div>
                {% endif %}
                <!-- .cs-note -->
            </div>
            <div class="cs-invoice_btns cs-hide_print">
                <a href="javascript:window.print()" class="cs-invoice_btn cs-color1">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><circle cx="392" cy="184" r="24"/></svg>
          <span>Print</span>
        </a>
                <button id="download_btn" class="cs-invoice_btn cs-color2">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Download</title><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
          <span>Download</span>
        </button>
            </div>
        </div>
    </div>
    <script src="{% static 'invoice/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'invoice/assets/js/jspdf.min.js' %}"></script>
    <script src="{% static 'invoice/assets/js/html2canvas.min.js' %}"></script>
    <script src="{% static 'invoice/assets/js/main.js' %}"></script>
</body>

</html>