<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if settings.favicon %}
    <link rel="icon" href="{{settings.favicon.url}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{settings.favicon.url}}" type="image/x-icon">
    {% endif %}
    <title>{{ title }} - {{ seo_settings.meta_title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/font-awesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/feather-icon.css' %}">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'admin/assets/css/color-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/responsive.css' %}">
    <style>
      .login-card {
        background: {% if settings.primary_color %}{{settings.primary_color}}{% else %}linear-gradient(-45deg, #3667f8, #3b4dec, #6d65ff, #0540f2){% endif %};
    }
    </style>
  </head>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"> </div>
      <div class="dot"></div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">     
            <div class="login-card">
              <div>
                <div class="login-main"> 
                  <form class="theme-form" method="post">
                    {% csrf_token %}                   
                    <h4>Reset Your Password</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %} 
                    {% if form.errors %}
                    <div class="alert alert-danger">
                            <strong>Error:</strong>
                            <ul>
                                {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                <li>{{ field }}: {{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %} 
                    <div class="form-group">
                      <label class="col-form-label">Enter Your Username</label>
                        <div class="">
                          <input class="form-control mb-1" name="username" type="text" placeholder="jhon">
                        <div class="col-12">
                          <div class="">
                            <button class="btn btn-primary btn-block m-t-10 w-100" type="submit">Send</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="mt-4 mb-0 text-center">Already have a password?<a class="ms-2" href="{% url "signIn" %}">Sign in</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="{% static 'admin/assets/js/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap js-->
    <script src="{% static 'admin/assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- feather icon js-->
    <script src="{% static 'admin/assets/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/icons/feather-icon/feather-icon.js' %}"></script>
    <!-- scrollbar js-->
    <!-- Sidebar jquery-->
    <script src="{% static 'admin/assets/js/config.js' %}"></script>
    <!-- Template js-->
    <script src="{% static 'admin/assets/js/script.js' %}"></script>
    <!-- login js-->
  </body>
</html>