{% extends 'crm/base.html' %}
{% load static %}
{% block title %}{{title}} - {{settings.name}}{% endblock title %}
{% block content %}
<style>
    .btn-group-sm>.btn-icon.btn, .btn-icon.btn-sm {
        font-size: 1.2rem !important;
        height: calc(1.625rem + 2px);
        width: calc(1.625rem + 2px);
    }
@media (min-width: 992px) {
  .card-datatable.table-responsive {
    overflow-x: hidden;
  }
}
.dt-buttons.btn-group.flex-wrap {
    margin-top: -32px;
}

</style>

    <!-- Content wrapper -->
    <div class="content-wrapper">

        <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">CRM /</span> Shop /</span> Promo Codes
              </h4>
              {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            <!--Table Card-->
            <div class="card">
                <div class="card-datatable table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header flex-column flex-md-row">
                      <div class="head-label">
                        <h5 class="card-title mb-0">All Promo Codes</h5>
                      </div>
                      <div class="dt-action-buttons text-end pt-3 pt-md-0">
                        <div class="dt-buttons btn-group flex-wrap">
                          <a class="btn btn-secondary create-new btn-primary" href="#" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="modal" data-bs-target="#addPromoModal">
                            <span><i class="bx bx-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Promo Code</span></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- Your button -->
                    <div class="container mb-4">
                    <table class="datatables-basic table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                      <thead>
                        <tr>
                            <th style="width: 0px;" >#</th>
                            <th style="width: 100px;">Code</th>
                            <th style="width: 150px;">Discount Type</th>
                            <th style="width: 150px;">discount</th>
                            <th style="width: 150px;">Status</th>
                            <th style="width: 0px;" class="sorting_disabled dtr-hidden">Actions</th>                           
                        </tr>
                      </thead>
                      <tbody>
                        {% for promo in promo_codes %}
                            <tr class="odd">
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#" data-slug="{{ promo.id }}" data-bs-toggle="modal" data-bs-target="#detailPromoModal{{ promo.id }}">{{ promo.code }}</a></td>
                                    <!-- Promo Details Modal -->
                                    <div class="modal fade" id="detailPromoModal{{ promo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary">
                                                    <h5 class="modal-title text-white mb-3" id="exampleModalLabel">{{promo.code}}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #ffffff !important;"></button>
                                                </div>
                                                <div class="modal-body">
                                                  <ul class="list-group">
                                                      <li class="list-group-item">
                                                        <strong>Code:</strong> {{ promo.code }}
                                                      </li>
                                                      <li class="list-group-item">
                                                        <strong>Discount Type:</strong> {{ promo.discount_type }}
                                                      </li>
                                                      <li class="list-group-item">
                                                        <strong>Discount Value:</strong> 
                                                        {% if promo.discount_type == "Percentage" %}
                                                        {{ promo.discount }}%
                                                        {% else %}
                                                        {{ settings.currency_symbol }}{{ promo.discount }}
                                                        {% endif %}
                                                      </li>
                                                      <li class="list-group-item">
                                                        <strong>Minimum Purchase:</strong> {{ settings.currency_symbol }}{{ promo.min_purchase }}
                                                      </li>
                                                      <li class="list-group-item">
                                                        <strong>Is Active:</strong> {{ promo.is_active }}
                                                      </li>
                                                      <li class="list-group-item">
                                                        <strong>Created At:</strong> {{ promo.created_at }}
                                                      </li>
                                                      <li class="list-group-item">
                                                        <strong>Updated At:</strong> {{ promo.updated_at }}
                                                      </li>
                                                  </ul>
                                              </div>                                              
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / Modal -->
                                <td>{{ promo.discount_type }}</td>
                                <td>{% if promo.discount_type == "Percentage" %}
                                    {{ promo.discount }}%
                                    {% else %}
                                    {{ settings.currency_symbol }}{{ promo.discount }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if promo.is_active %}
                                    <span class="badge bg-success">Active</span>
                                    {% else %}
                                    <span class="badge bg-danger">Inactive</span>
                                    {% endif %}
                                </td>
                                <td class="dtr-hidden" style="">
                                    <button class="btn btn-sm btn-icon item-edit" data-slug="{{ promo.id }}" data-bs-toggle="modal" data-bs-target="#updatePromoModal{{ promo.id }}">
                                        <i class="bx bxs-edit"></i> 
                                    </button>
                                    <!-- Department Update Bootstrap Modal -->
                                    <div class="modal fade" id="updatePromoModal{{ promo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary">
                                                    <h5 class="modal-title text-white mb-3" id="exampleModalLabel">Edit {{ promo.code }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #ffffff !important;"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" action="{% url "adminPromoCodeEdit" promo.id %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="update_promo_code">
                                                        <div class="row mt-2">
                                                          <div class="col-md-12 mt-1">
                                                            <label for="" class="form-label">Code</label>
                                                            <input type="text" name="code" class="form-control" value="{{promo.code}}">
                                                          </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                          <div class="col-md-6 mt-1">
                                                            <label for="" class="form-label">Discount Type</label>
                                                            <select name="discount_type" class="form-select">
                                                              <option value="Percentage" {% if promo.discount_type == "Percentage" %}selected="selected"{% endif %}>Percentage</option>
                                                              <option value="Fixed" {% if promo.discount_type == "Fixed" %}selected="selected"{% endif %}>Fixed</option>
                                                            </select>
                                                          </div>
                                                          <div class="col-md-6 mt-1">
                                                            <label for="" class="form-label">Discount</label>
                                                            <input type="text" name="discount" class="form-control" value="{{promo.discount}}">
                                                          </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                          <div class="col-md-12 mt-1">
                                                            <label for="" class="form-label">Minimum Purchase ( Leave is as it is to apply in all purchase )</label>
                                                            <input type="text" name="min_purchase" class="form-control" value="{{promo.min_purchase}}">
                                                          </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                          <div class="col-md-12 mt-1">
                                                            <label for="" class="form-label">Status</label>
                                                            <select name="is_active" class="form-select">
                                                              <option value="True" {% if promo.is_activ %}selected="selected"{% endif %}>Active</option>
                                                              <option value="False" {% if not promo.is_active%}selected="selected"{% endif %}>Deactive</option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                  
                                                        <button type="submit" class="btn btn-primary mt-4">Save Promo Code</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Bootstrap Modal -->
                                    <button class="btn btn-sm btn-icon invoice-delete" data-slug="{{ promo.id }}" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal{{ promo.id }}">
                                      <i class='bx bxs-x-circle'></i>
                                    </button>                                   
                                    <div class="modal fade" id="deleteConfirmationModal{{ promo.id }}" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteConfirmationModalLabel{{ promo.id }}">Confirm Deletion</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete this?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a type="button" href="{% url "adminPromoCodeDelete" promo.id %}" class="btn btn-danger" id="confirmDelete">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        <!-- ... more table rows ... -->
                      </tbody>
                    </table>
                </div>
              </div> <!--Table Card-->         

          </div>
        <!-- / Content -->

      </div>
    </div>
    <!-- Content wrapper -->

    <!-- Promo Add Bootstrap Modal -->
    <div class="modal fade" id="addPromoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title text-white mb-3" id="exampleModalLabel">Add New Promo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #ffffff !important;"></button>
          </div>
          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="create_promo_code">
              <div class="row mt-2">
                <div class="col-md-12 mt-1">
                  <label for="" class="form-label">Code</label>
                  <input type="text" name="code" class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6 mt-1">
                  <label for="" class="form-label">Discount Type</label>
                  <select name="discount_type" class="form-select">
                    <option value="Percentage">Percentage</option>
                    <option value="Fixed">Fixed</option>
                  </select>
                </div>
                <div class="col-md-6 mt-1">
                  <label for="" class="form-label">Discount</label>
                  <input type="text" name="discount" class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 mt-1">
                  <label for="" class="form-label">Minimum Purchase ( Leave is as it is to apply in all purchase )</label>
                  <input type="text" name="min_purchase" class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 mt-1">
                  <label for="" class="form-label">Status</label>
                  <select name="is_active" class="form-select">
                    <option value="True">Active</option>
                    <option value="False">Deactive</option>
                  </select>
                </div>
              </div>
          
            
              <!-- Your form fields go here -->
              <button type="submit" class="btn btn-primary mt-4">Add Promo Code</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /Bootstrap Modal -->

    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                info: true, 
                search: true 
            });
        });
    </script>
{% endblock content %}