{% extends 'admin/front/base.html' %}
{% load static %}
{% block title %}{{title}} - {{settings.name}}{% endblock title %}
{% block content %}
<style>
    #copy-button{
        cursor:pointer;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<div class="page-body  dark-only">
   <div class="container-fluid">
      <div class="page-title">
         <div class="row">
            <div class="col-sm-6">
               <h3> Email Formator </h3>
            </div>
            <div class="col-sm-6">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'admin_home' %}"><i data-feather="home"></i></a></li>
                  <li class="breadcrumb-item"> Marketing </li>
                  <li class="breadcrumb-item active">Email Formator</li>
               </ol>
            </div>
         </div>
      </div>
   </div>
   

   <!-- Container-fluid starts-->
   <div class="container-fluid">

      <div class="row project-cards">
         <div class="col-md-12 project-list">
         </div>
         <div class="container">
            <form method="" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <label for="" class="mb-2">None Formetted Emails</label>
                                <textarea id="email-input" class="form-control" rows="15" placeholder="email1@gmail.com&#10;email2@gmail.com&#10;email3@gmail.com&#10;or,&#10;email1@gmail.com email2@gmail.com email3@gmail.com" value=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="formatted-emails" class="form-label mb-2">Formatted Emails</label>
                                    </div>
                                    <div class="col-6 text-end">
                                        <span id="copy-button" class="text-primary"><i class="fa fa-copy"></i> Copy</span>
                                    </div>
                                </div>
                                <textarea class="form-control" readonly id="formatted-emails" rows="15" name="manually_added_emails" value="{{ form.manually_added_emails.value }}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

         </div>
      </div>
   </div>
   <!-- Container-fluid Ends-->
</div>
<script>
    const emailInput = document.getElementById('email-input');
    const formattedEmailsInput = document.getElementById('formatted-emails');
    const formattedEmailsDisplay = document.getElementById('formatted-emails-display');

    emailInput.addEventListener('input', function() {
        const emails = emailInput.value.split(/\s+|\n+/).filter(Boolean); // Split by whitespace or line breaks and remove empty strings
        const formattedEmails = emails.join(',');

        formattedEmailsInput.value = formattedEmails;
        formattedEmailsDisplay.textContent = formattedEmails; // Update the displayed text
    });
</script>

<script>
    const copyButton = document.getElementById('copy-button');
    const formattedEmailsTextarea = document.getElementById('formatted-emails');

    copyButton.addEventListener('click', function() {
        formattedEmailsTextarea.select();
        document.execCommand('copy');
        alert('Copied to clipboard!');
    });
</script>
{% endblock content %}