{% extends 'hrm/employee/base.html' %}
{% load static %}
{% block title %}{{title}} - {{settings.name}}{% endblock title %}
{% block content %}
<style>
    .btn-group-sm>.btn-icon.btn, .btn-icon.btn-sm {
        font-size: 1.2rem !important;
        height: calc(1.625rem + 2px);
        width: calc(1.625rem + 2px);
    }
@media (min-width: 992px) {
  .card-datatable.table-responsive {
    overflow-x: hidden;
  }
}
.dt-buttons.btn-group.flex-wrap {
    margin-top: -32px;
}
</style>

    <!-- Content wrapper -->
    <div class="content-wrapper">

        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h4 class="fw-bold py-3 mb-4">
                        <span class="text-muted fw-light">HRM /</span> Projects
                    </h4>
                </div>
            </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            <!--Table Card-->
            <div class="card">
                <div class="card-datatable table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header flex-column flex-md-row">
                      <div class="head-label">
                        <h5 class="card-title mb-0">All Projects</h5>
                      </div>
                    </div>
                    <!-- Your button -->
                    <div class="container mb-4">
                    <table class="datatables-basic table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                      <thead>
                        <tr>
                        <th style="width: 0px;" >#</th>
                         <th style="width: 200px;">Title</th>
                         <th style="width: 130px;">Start Date</th>
                         <th style="width: 130px;">Deadline</th>
                         <th style="width: 90px;" class="dtr-hidden">Status</th>                         
                        </tr>
                      </thead>
                      <tbody>
                        {% for project in projects %}
                            <tr class="odd">
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'hrmEmployeeProjectTask' slug=project.slug %}">{{ project.title|truncatewords:4 }}</a></td>
                                <td>{{ project.start_date }}</td>
                                <td>{{ project.deadline }}</td>
                                <td><span class="badge {% if project.label == 'completed' %}bg-success{% elif project.label == 'canceled' %}bg-danger{% elif project.label == 'important' %}bg-warning{% elif project.label == 'pending' %}bg-info{% else %}bg-primary{% endif %}">{{ project.label }}</span></td>
                            </tr>
                        {% endfor %}
                        <!-- ... more table rows ... -->
                      </tbody>
                      
                    </table>
                </div>
                  
              </div> <!--Table Card-->         

          </div>
        </div>
        <!-- / Content -->


    </div>
    <!-- Content wrapper -->
    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                pageLength: 10, // Set the initial page length to 10
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], // Allow changing page length
                info: true, // Show the item count
                search: true // Enable search
            });
        });
    </script>
{% endblock content %}