{% extends 'hrm/employee/base.html' %}
{% load static %}
{% block title %}{{title}} - {{settings.name}}{% endblock title %}
{% block content %}
<style>
    .btn-group-sm>.btn-icon.btn, .btn-icon.btn-sm {
        font-size: 1.2rem !important;
        height: calc(1.625rem + 2px);
        width: calc(1.625rem + 2px);
    }
@media (min-width: 992px) {
  .card-datatable.table-responsive {
    overflow-x: hidden;
  }
}
.dt-buttons.btn-group.flex-wrap {
    margin-top: -32px;
}

</style>


    <!-- Content wrapper -->
    <div class="content-wrapper">

        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h4 class="fw-bold py-3 mb-4">
                        <span class="text-muted fw-light">HRM /</span> {{project.title}} / Tasks
                    </h4>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <!--Table Card-->
            <div class="card">
                <div class="card-datatable table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header flex-column flex-md-row">
                      <div class="head-label">
                        <h5 class="card-title mb-0">All Tasks</h5>
                      </div>
                    
                    </div>
                    <!-- Your button -->
                    <div class="container mb-4">
                    <table class="datatables-basic table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                        <tr>
                        <th style="width: 0px;" >#</th>
                         <th style="width: 130px;" >Title</th>
                         <th style="width: 80px;">Status</th>
                         <th style="width: 80px;">Priority</th>
                         <th style="width: 150px;">Start Date</th>
                         <th style="width: 130px;" class="dtr-hidden">Deadline</th>
                         <th style="width: 100px;" >Actions</th>                           
                        </tr>
                      </thead>
                      <tbody>
                        {% for task in tasks %}
                            <tr class="odd">
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'crmTaskEdit' id=task.id %}" data-bs-toggle="modal" data-bs-target="#detailTaskModal{{ task.id }}">{{ task.title }}</a></td>
                                <!-- Task Details Modal -->
                                <div class="modal fade" id="detailTaskModal{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary">
                                                <h5 class="modal-title text-white mb-3" id="exampleModalLabel">{{ task.title }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #ffffff !important;"></button>
                                            </div>
                                            <div class="modal-body">
                                              <ul class="list-group">
                                                  <li class="list-group-item">
                                                      <strong>Title:</strong> {{ task.title }}
                                                  </li>
                                                  <li class="list-group-item">
                                                    <strong>Priority:</strong> {{ task.get_priority_display }}
                                                  </li>
                                                  <li class="list-group-item">
                                                    <strong>Description:</strong> {% if task.description %}{{ task.description }}{% else %}Nothing found yet{% endif %}
                                                  </li>
                                                  <li class="list-group-item">
                                                    <strong>Start Date:</strong> {{ task.start_date }}
                                                  </li>
                                                  <li class="list-group-item">
                                                    <strong>Deadline:</strong> {{ task.deadline }}
                                                  </li>
                                                  <li class="list-group-item">
                                                    <strong>Label:</strong> {{ task.get_label_display }}
                                                  </li>
                                                  <li class="list-group-item">
                                                    <strong>Status:</strong> 
                                                    {% if task.status == 'to_do' %}
                                                        <span class="badge bg-primary">{{ task.get_status_display }}</span>
                                                    {% elif task.status == 'in_progress' %}
                                                        <span class="badge bg-warning">{{ task.get_status_display }}</span>
                                                    {% elif task.status == 'done' %}
                                                        <span class="badge bg-success">{{ task.get_status_display }}</span>
                                                    {% endif %}
                                                  </li>
                                              </ul>
                                          </div>                                              
                                        </div>
                                    </div>
                                </div>
                                <!-- / Modal -->
                                <td>
                                    {% if task.status == 'to_do' %}
                                        <span class="badge bg-primary">{{ task.get_status_display }}</span>
                                    {% elif task.status == 'in_progress' %}
                                        <span class="badge bg-warning">{{ task.get_status_display }}</span>
                                    {% elif task.status == 'done' %}
                                        <span class="badge bg-success">{{ task.get_status_display }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ task.get_priority_display }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.deadline }}</td>
                                <td class="dtr-hidden" style="">
                                    <a href="{% url 'taskmarkDone' id=task.id %}" class="btn btn-sm btn-icon item-edit">
                                        <i class="bx bxs-check-circle"></i>
                                    </a>

                                </td>
                            </tr>
                        {% endfor %}
                        <!-- ... more table rows ... -->
                      </tbody>
                      
                    </table>
                </div>
                  
              </div> <!--Table Card-->         

          </div>
        <!-- / Content -->


    </div>
    <!-- Content wrapper -->
    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                pageLength: 10, // Set the initial page length to 10
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], // Allow changing page length
                info: true, // Show the item count
                search: true // Enable search
            });
        });
    </script>
{% endblock content %}