{% extends 'hrm/employee/base.html' %}
{% load static %}
{% block title %}{{title}} - {{settings.name}} {% endblock title %}

{% block content %}
<link href="{% static 'calender/main.css' %}" rel="stylesheet" />
<div class="container mt-5 mb-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
<div class="card mb-3">
    <div class="card-body">
        <div class="row mb-3 mt-3">
            <div class="col-md-12">
                <div class="tile row">
                    <div class="col-md-12">
                        <div id="calendar"></div>
                    </div>
        

                    <div class="modal fade show backdrop" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content rounded-6 shadow">
                              <div class="modal-header bg-primary">
                                  <h5 class="modal-title text-white mb-3" id="title_event_detail"></h5>
                                  <button id="modalDetailClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <form method="">
                                  {% csrf_token %}
                                  <div class="modal-body">
                                      <div class="form-group">
                                          <label for="message-text" class="col-form-label">Branch:</label>
                                          <p id = "branch_event_detail"></p>
                                      </div>
                                      <div class="form-group">
                                          <label for="message-text" class="col-form-label">Description:</label>
                                          <p id = "description_event_detail"></p>
                                      </div>
                                      <div class="form-group">
                                          <label for="message-text" class="col-form-label">Start:</label>
                                          <p id = "start_event_detail"></p>
                                      </div>
                                      <div class="form-group">
                                          <label for="message-text" class="col-form-label">End:</label>
                                          <p id = "end_event_detail"></p>
                                      </div>
                                      <div class="form-group">
                                        <label for="message-text" class="col-form-label">Created by:</label>
                                        <p id = "created_by_event_detail"></p>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
        
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script src="{% static 'hrm/js/plugins/pace.min.js'%}"></script>
<script src="{% static 'hrm/js/main.js' %}"></script>
<script>
  function converterDataParaDjangoFormat(data) {
      const dataJS = new Date(data);
      const ano = dataJS.getFullYear();
      const mes = (dataJS.getMonth() + 1).toString().padStart(2, '0');
      const dia = dataJS.getDate().toString().padStart(2, '0');
      const formatoDjango = `${ano}-${mes}-${dia}`;
      return formatoDjango;
  }
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var today = new Date();

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
        },
        initialDate: today,
        navLinks: true, 
        selectable: true,
        selectMirror: true,

        
        // THIS KEY WON'T WORK IN PRODUCTION!!!
        // To make your own Google API key, follow the directions here:
        // http://fullcalendar.io/docs/google_calendar/
        // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

        // bangladesh Holidays
        // events: 'bn.bd#holiday@group.v.calendar.google.com',
        eventClick: function(arg) {
          
          console.log('clicked')
          console.log(arg)
          var title = arg.event.title;
          var branch = arg.event.extendedProps.branch;
          var created_by = arg.event.extendedProps.created_by;
          var start = formatDateTime(arg.event.start);
          var end = formatDateTime(arg.event.end);
          var description = arg.event.extendedProps.description || '';
          var id = arg.event.id;

          var modalInputEnd = document.getElementById('end_event_detail'); 

          var modal = document.getElementById('detailModal')
          var modalTitle = document.getElementById('title_event_detail'); 
          var modalStart = document.getElementById('start_event_detail'); 
          var modalEnd = document.getElementById('end_event_detail'); 
          var modalBranch = document.getElementById('branch_event_detail'); 
          var modalCreatedBy = document.getElementById('created_by_event_detail'); 
          var modalDescripition = document.getElementById('description_event_detail'); 

          modal.style.display = 'block' 
          
          modalTitle.textContent = title;
          modalBranch.textContent = branch;
          modalCreatedBy.textContent = created_by;
          modalStart.textContent = start;
          modalEnd.textContent = end;
          modalDescripition.textContent = description;
          
         
          modal.style.display = 'block';
        },
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: {{ events|safe }},
        // events: [
        //   {
        //     title: 'All Day Event',
        //     start: '2021-06-26'
        //   },
        //   {
        //     groupId: 999,
        //     title: 'Repeating Event',
        //     start: '2020-09-16T16:00:00'
        //   },
        //   {
        //     title: 'Conference',
        //     start: '2020-09-11',
        //     end: '2020-09-13'
        //   },
        //   {
        //     title: 'Click for Google',
        //     url: 'http://google.com/',
        //     start: '2020-09-28'
        //   }
        // ]
      });

      calendar.render();
    });
    const closeBtn1 = document.getElementById('modalClose1');
    const closeBtn2 = document.getElementById('modalClose2');
    const closeBtn3 = document.getElementById('modalDetailClose');
    closeBtn3.addEventListener('click',()=>{
      const eventModal = document.getElementById('detailModal')
      eventModal.style.display = 'none';
    });
    function formatDateTime(dateTime) {
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
        const dataFormatada = new Date(dateTime).toLocaleString('en-US', options);
        return dataFormatada;
    };
      


</script>
<script>
    $(document).ready(function() {
        $('#branchadd').selectize();
    });
</script>
{% endblock content %}




