{% extends 'front/base.html' %}
{% load static %}
{% block title %} {{meta.meta_title}} - {{meta.meta_description}}{% endblock title %}
{% block title1 %} {{meta.meta_title}} - {{seo_settings.meta_title}} {% endblock title1 %}
{% block title2 %} {{meta.meta_title}} - {{seo_settings.meta_title}} {% endblock title2 %}
{% block content %}
<style>
    .cng {
        width: 700px;
    }
    
    @media (max-width: 768px) {
        .cng {
            width: 100%;
        }
    }
    
</style>
        <!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area">
            <div class="container">
               <div class="breadcrumb">
                  <h1 class="title h2">{{meta.meta_title}}</h1>
               </div>
            </div>
            <ul class="shape-group-8 list-unstyled">
               <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                  <img src="{% static 'front/assets/media/others/bubble-9.png'  %}" alt="Bubble">
               </li>
               <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                  <img src="{% static 'front/assets/media/others/line-4.png'  %}" alt="Line">
               </li>
            </ul>
         </div>
        <!--=====================================-->
        <!--=        Blog Area Start       	    =-->
        <!--=====================================-->
        {% if blogs %}
        <section class="section-padding-equal">
            <div class="container">
                <div class="row row-40">
                    <div class="col-lg-8">
                        {% for blog in blogs %}
                            <div class="blog-grid">
                                <h3 class="title"><a href="{% url 'blogDetail' blog.slug %}">{{ blog.title }}</a></h3>
                                <div class="post-thumbnail cng">
                                    <a href="{% url 'blogDetail' blog.slug %}">
                                        {% if blog.thumbnail %}
                                            <img src="{{ blog.thumbnail.url }}" alt="Blog">
                                        {% endif %}
                                    </a>
                                </div>
                                <p>{{ blog.description|safe|truncatewords:50 }}</p>
                                <a href="{% url 'blogDetail' blog.slug %}" class="axil-btn btn-borderd btn-large">Read More</a>
                            </div>
                        {% endfor %}

                        <div class="pagination">
                            <ul>
                                {% if blogs.has_previous %}
                                    <li><a class="prev page-numbers" href="?page=1"><i class="fal fa-arrow-left"></i></a></li>
                                {% else %}
                                    <li><a class="prev page-numbers disabled"><i class="fal fa-arrow-left"></i></a></li>
                                {% endif %}
                                {% for i in blogs.paginator.page_range %}
                                    <li><a href="?page={{ i }}" class="page-numbers{% if blogs.number == i %} current{% endif %}">{{ i }}</a></li>
                                {% endfor %}
                                {% if blogs.has_next %}
                                    <li><a class="next page-numbers" href="?page={{ blogs.next_page_number }}"><i class="fal fa-arrow-right"></i></a></li>
                                {% else %}
                                    <li><a class="next page-numbers disabled"><i class="fal fa-arrow-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="axil-sidebar">
                            <div class="widget widget-search">
                                <h4 class="widget-title">Search</h4>
                                <form action="#" method="GET" class="blog-search">
                                    <input type="text" placeholder="Search…" value="{{request.GET.search}}" name="search">
                                    <button class="search-button"><i class="fal fa-search"></i></button>
                                </form>
                            </div>
                            <div class="widget widge-social-share">
                                <div class="blog-share">
                                    <h5 class="title">Follow:</h5>
                                    <ul class="social-list list-unstyled">
                                        <li>
                                            {% if header_footer.facebook %}
                                                <a href="{{ header_footer.facebook }}" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            {% else %}
                                                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if header_footer.twitter %}
                                                <a href="{{ header_footer.twitter }}" data-sal="slide-up" data-sal-duration="500" data-sal-delay="200">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            {% else %}
                                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if header_footer.instagram %}
                                                <a href="{{ header_footer.instagram }}" data-sal="slide-up" data-sal-duration="500" data-sal-delay="500">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            {% else %}
                                                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if header_footer.linkedin %}
                                                <a href="{{ header_footer.linkedin }}" data-sal="slide-up" data-sal-duration="500" data-sal-delay="400">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            {% else %}
                                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            {% if header_footer.youtube %}
                                                <a href="{{ header_footer.youtube }}" data-sal="slide-up" data-sal-duration="500" data-sal-delay="500">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            {% else %}
                                                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                            {% endif %}
                                        </li>                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget-recent-post">
                                <h4 class="widget-title">Recent post</h4>
                                <div class="post-list-wrap">
                                    {% for blog in blogs|slice:":5" %}
                                        <div class="single-post">
                                            <div class="post-thumbnail">
                                                <a href="{% url 'blogDetail' blog.slug %}">
                                                    {% if  blog.thumbnail %}
                                                        <img src="{{ blog.thumbnail.url }}" width="100" alt="Blog">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <h6 class="title"><a href="{% url 'blogDetail' blog.slug %}">{{ blog.title }}</a></h6>
                                                <ul class="blog-meta list-unstyled">
                                                    <li>{{ blog.created_at }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
{% endblock %}