{% extends 'front/base.html' %}
{% load static %}
{% block title %} {{meta.meta_title}} - {{meta.meta_description}}{% endblock title %}
{% block title1 %} {{meta.meta_title}} - {{seo_settings.tag_line}} {% endblock title1 %}
{% block title2 %} {{meta.meta_title}} - {{seo_settings.tag_line}} {% endblock title2 %}
{% block content %}
<!-- Add the jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Owl Carousel styles and script -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<style>
    .testimonial {
        padding: 20px;
        border: 1px solid #eee;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        
    }
    
    .testimonial p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .testimonial h4 {
        text-align: right;
        font-size: 14px;
        font-style: italic;
    }

    .testimonial h3 {
        width : 100%;
        border-bottom: 1px solid #707070;
        padding-bottom:20px;
    }
    @media only screen and (max-width: 600px) {
        .crb {
            display: none;
        }
        a.axil-btn.btn-fill-white.slider-botton {
            margin-bottom: 15px;
        }
  
        .top-btn{
            margin-top:10px;
        }
        .tyo {
            display: block;  /* Makes sure the span behaves as a block for consistent height setting */
            height: 2.5em;   /* Adjust this value as per your design and font-size */
            overflow: hidden; /* Hides any text that might overflow the set height */
        }
    }
    .active-dark-mode .post_time{
        color:#c7c7d5;
    }
    
</style>



{% if banner %}
        <!--=====================================-->
        <!--=        Banner Area Start         =-->
        <!--=====================================-->
        <section class="banner banner-style-5" style="{% if  banner.background_image %}background-image:url('{{ banner.background_image.url }}'){% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                
                        

                        <div class="banner-content">
                            <h1 class="title">{{ banner.title }}</h1>
                            <p class="hero-desc">{{ banner.description }}</p>
                            <div>
                                <a href="{{ banner.button_url }}" class="axil-btn btn-fill-white btn-large">{{ banner.button_text }}</a>
                            </div>
                        </div>
                    </div>
                    {% if banner.show_quote_form %}
                        <div class="col-lg-6 col-xl-5">
                            <div class="banner-form">
                                <div class="contact-form-box shadow-box">
                                    <h3 class="title">{{banner.quote_form_title}}</h3>
                                    <form id="contact-form" class="cntform">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>{{banner.quote_form_field1_title}}</label>
                                            <input type="text" class="form-control" required name="name" placeholder="{{banner.quote_form_field1_placeholder}}">
                                        </div>
                                        <div class="form-group">
                                            <label>{{banner.quote_form_field2_title}}</label>
                                            <input type="email" class="form-control" required name="email" placeholder="{{banner.quote_form_field2_placeholder}}">
                                        </div>
                                        <div class="form-group mb--40">
                                            <label>{{banner.quote_form_field3_title}}</label>
                                            <input type="number" class="form-control" required name="phone" placeholder="{{banner.quote_form_field3_placeholder}}">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="axil-btn btn-borderd btn-fluid btn-primary" name="submit-btn">{{banner.quote_form_button_text}}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>

{% endif %}
        <!--=====================================-->
        <!--=        Service Area Start         =-->
        <!--=====================================-->

{% if services %}
        <section class="section section-padding">
            <div class="container">
                <div class="section-heading heading-left mb--20 mb_md--70">
                    <span class="subtitle">{{service_section_title.title_small|safe}}</span>
                    <h2 class="title">{{service_section_title.title_big|safe}}</h2>
                </div>
                <div class="row">
                    {% for service in services|slice:":6" %}
                        <div class="col-lg-4  mt_md--0">
                            <div class="services-grid service-style-2">
                                <div class="thumbnail">
                                    <img src="{{service.image.url}}" alt="icon">
                                </div>
                                <div class="content">
                                    <h5 class="title">{{service.title}}</h5>
                                    {{service.description|safe}}
                                    <a href="{% url 'frontServicePage' %}" class="more-btn">{{service_section_title.service_card_more_text}}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>

        {% endif %}
        <!--=====================================-->
        <!--=        Project Area Start         =-->
        <!--=====================================-->
        {% if projects %}
        <section class="section section-padding-2 bg-color-light">
            <div class="container">
                <div class="section-heading heading-left">
                    <span class="subtitle">{{project_section_title.title_small|safe}}</span>
                    <h2 class="title">{{project_section_title.title_big|safe}}</h2>
                </div>
                <div class="axil-isotope-wrapper">
                    <div class="isotope-button isotope-project-btn">
                        <button data-filter="*" class="is-checked"><span class="filter-text">{{project_section_title.all_work_text|safe}}</span></button>
                        {% for category in project_categories %}
                        <button data-filter=".{{category.slug}}"><span class="filter-text">{{category.title}}</span></button>
                        {% endfor %}
                    </div>
                    <div class="row row-35 isotope-list">
                        {% for project in projects %}  
                            <div class="col-md-4 project {{project.category.slug}}">
                                <div class="project-grid">
                                    <div class="thumbnail">
                                        <a href="{% url 'projectDetail' project.slug %}">
                                            <img src="{{project.image.url}}" alt="project">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h4 class="title"><a href="{% url 'projectDetail' project.slug %}">{{project.title}}</a></h4>
                                        <span class="subtitle">{{project.category}}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
   
        </section>
        {% endif %}
        <!--=====================================-->
        <!--=        Counter Up Area Start      =-->
        <!--=====================================-->
        {% if funfacts %}
        <section class="section section-padding bg-color-dark">
            <div class="container">
                <div class="section-heading heading-light">
                    <span class="subtitle">{{fun_fact_section_title.title_small|safe}}</span>
                    <h2 class="title">{{fun_fact_section_title.title_big|safe}}</h2>
                </div>
                <div class="row">
                    {% for funfact in funfacts %}
                        <div class="col-lg-3 col-6">
                            <div class="counterup-progress active">
                                <div class="count-number h2">
                                    <span class="number" data-count="{{funfact.fact_count}}">{{funfact.fact_count}}</span>
                                    <span class="symbol">+</span>
                                </div>
                                <h6 class="title">{{funfact.title}}</h6>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <ul class="list-unstyled shape-group-10">
                <!-- <li class="shape shape-1"><img src="{% static 'front/assets/media/others/line-9.png'  %}" alt="Circle"></li> -->
                <li class="shape shape-2"><img src="{% static 'front/assets/media/others/bubble-42.png'  %}" alt="Circle"></li>
                <li class="shape shape-3"><img src="{% static 'front/assets/media/others/bubble-43.png'  %}" alt="Circle"></li>
            </ul>
        </section>
        {% endif %}
        <!--=====================================-->
        <!--=        Testimonial Area Start      =-->
        <!--=====================================-->
        {% if testimonials %}
        <section class="section section-padding">
            <div class="container">
                <div class="section-heading heading-left">
                    <span class="subtitle">{{testimonials_section_title.title_small|safe}}</span>
                    <h2 class="title">{{testimonials_section_title.title_big|safe}}</h2>
                </div>
                <div class="owl-carousel owl-theme testimonial-carousel">
                    {% for testimonial in testimonials %}
                    <div class="testimonial">
                        <h3>{{testimonial.title}}</h3>
                        <p>" {{testimonial.description|safe}} "</p>
                        <h4>{{testimonial.client_name}} - {{testimonial.client_designation}}</h4>
                    </div>
                    {% endfor %}
                </div>                
                
            </div>
        
        </section>
        {% endif %}
        <!--=====================================-->
        <!--=        Client Area Start       	=-->
        <!--=====================================-->
        {% if clients %}
        <section class="section section-padding bg-color-dark">
            <div class="container">
                <div class="section-heading heading-light">
                    <span class="subtitle">{{client_section_title.title_small|safe}}</span>
                    <h2 class="title">{{client_section_title.title_big|safe}}</h2>
                </div>
                <div class="row">
                    {% for client in clients %}
                        <div class="col-lg-3 col-6">
                            <div class="brand-grid active">
                                <a href="{{client.company_url}}">
                                    <img src="{{client.image.url}}" width="200" alt="{{client.company_name}}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <ul class="list-unstyled shape-group-10">
                <li class="shape shape-1"><img src="{% static 'front/assets/media/others/line-9.png'  %}" alt="Circle"></li>
            </ul>
        </section>
        {% endif %}

        <!--=====================================-->
        <!--=        Blog Area Start       	    =-->
        <!--=====================================-->
        {% if blogs %}
        <section class="section section-padding-equal pt-5 related-blog-area">
            <div class="container">
                <div class="section-heading">
                    <span class="subtitle">{{blog_section_title.title_small|safe}}</span>
                    <h2 class="title">{{blog_section_title.title_big|safe}}</h2>
                </div>
                <div class="slick-slider recent-post-slide" data-slick='{"infinite": true, "autoplay": true, "arrows": false, "dots": false, "slidesToShow": 2,
        "responsive": [
            {
                "breakpoint": 1199,
                "settings": {
                    "slidesToShow": 1
                }
            }
        ]
        }'>
                {% for blog in blogs %}
                    <div class="slick-slide">
                        <div class="blog-list">
                            <div class="post-thumbnail">
                                <a href="{% url 'blogDetail' blog.slug %}"><img src="{{ blog.thumbnail.url }}" width="300" alt="Blog Post"></a>
                            </div>
                            <div class="post-content">
                                <span class="badge mb-2" style="color: #fff; background-color: {{settings.primary_color}}; border-color: {{settings.primary_color}};">{{ blog.category }}</span> <br>
                                <h5 class="title"><a href="{% url 'blogDetail' blog.slug %}">{{ blog.title }}</a></h5>
                                <span class="post_time"><i class="fa fa-clock"></i> {{ blog.created_at }}</span> <br>
                                <a href="{% url 'blogDetail' blog.slug %}" class="more-btn mt-2">Learn more<i class="far fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

        
               <script>
                $(document).ready(function(){
                    $(".testimonial-carousel").owlCarousel({
                        loop: true,
                        {% if selected_language.is_rtl %}
                        rtl:true,
                        {% endif %}
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 5000,
                        smartSpeed: 800,
                        dots: true,
                        nav: true,
                        responsive: {
                            0: { // from 0px up
                                items: 1 // show 1 testimonial
                            },
                            600: { // from 600px up
                                items: 2 // still show 1 testimonial for tablets
                            },
                            1000: { // from 1000px up
                                items: 3 // show 2 testimonials side by side on larger screens
                            }
                        }
                    });
                });
                
               </script>
               <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
               <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        {% endblock content %}