{% extends 'front/base.html' %}
{% load static %}
{% block title %} {{meta.meta_title}} - {{meta.meta_description}}{% endblock title %}
{% block title1 %} {{meta.meta_title}} - {{seo_settings.meta_title}} {% endblock title1 %}
{% block title2 %} {{meta.meta_title}} - {{seo_settings.meta_title}} {% endblock title2 %}
{% block content %}
        <!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area">
            <div class="container">
               <div class="breadcrumb">
                  <h1 class="title h2">{{meta.meta_title}}</h1>
               </div>
            </div>
            <ul class="shape-group-8 list-unstyled">
               <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                  <img src="{% static 'front/assets/media/others/bubble-9.png'  %}" alt="Bubble">
               </li>
               <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                  <img src="{% static 'front/assets/media/others/line-4.png'  %}" alt="Line">
               </li>
            </ul>
         </div>
        <!--=====================================-->
        <!--=    Privacy Policy Area Start      =-->
        <!--=====================================-->
        <section class="section-padding privacy-policy-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="privacy-policy-content">
                            {{policy.policy|safe}}    
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}